NEXTAUTH_URL=https://policypack.org
AUTH_URL=https://policypack.org
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

NEXT_PUBLIC_APP_URL=https://policypack.org
NEXT_PUBLIC_APP_NAME=PolicyPack

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

OPENROUTER_API_KEY=

PADDLE_API_KEY=
PADDLE_ENVIRONMENT=sandbox
PADDLE_PRICE_ID=

